{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="icon" href="{% static 'books/img/Wlogo.svg' %}">
    <link rel="stylesheet" href="{% static 'books/css/register.css' %}">
</head>
<body>
    <div class="modal-overlay">
        <div class="modal">
            <div class="logo-container">
                <a href="{% url 'home' %}" class="logo-link">
                    <img class="logo" src="{% static 'books/img/logo.svg' %}" alt="Логотип">
                </a>
            </div>

            <h2 class="modal-title fade-in">Сброс пароля</h2>

            <p class="fade-in">Введите свой email, и мы отправим вам ссылку для сброса пароля.</p>

            <form method="post">
                {% csrf_token %}
                {{ form.email.errors }}
                <div class="input-group fade-in">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="submit-button fade-in">Отправить ссылку</button>
            </form>

            <div class="links">
                <a href="{% url 'login' %}">Назад к входу</a>
            </div>
        </div>
    </div>
    <script src="{% static 'books/js/change_password.js' %}"></script>
</body>
</html>

